In [3]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [4]:
df = pd.read_csv("updated_records.csv")
df = df.drop(columns=["Rk","Conf", "Coach(es)"])
df.reset_index(drop=True)
for i in range(len(df)):
   if pd.isna(df.iloc[i]["NCAA Tournament"]):
      df.loc[df.index[i], "NCAA Tournament"] = "Missed Tournament"

   elif df.loc[df.index[i], "NCAA Tournament"] == "Lost NCAA Tournament First Round":
      df.loc[df.index[i], "NCAA Tournament"] = "First Round"

   elif df.loc[df.index[i], "NCAA Tournament"] == "Lost NCAA Tournament Second Round" or df.loc[df.index[i], "NCAA Tournament"] == "Lost NCAA Tournament Third Round":
      df.loc[df.index[i], "NCAA Tournament"] = "Second Round"

   elif df.loc[df.index[i], "NCAA Tournament"] == "Lost NCAA Tournament Regional Semifinal":
      df.loc[df.index[i], "NCAA Tournament"] = "Sweet Sixteen"

   elif df.loc[df.index[i], "NCAA Tournament"] == "Lost NCAA Tournament Regional Final":
      df.loc[df.index[i], "NCAA Tournament"] = "Elite Eight"
   
   elif df.loc[df.index[i], "NCAA Tournament"] == "Lost NCAA Tournament National Semifinal":
      df.loc[df.index[i], "NCAA Tournament"] = "Final Four"
   
   elif df.loc[df.index[i], "NCAA Tournament"] == "Lost NCAA Tournament National Final":
      df.loc[df.index[i], "NCAA Tournament"] = "National Runner-Up"
   
   elif df.loc[df.index[i], "NCAA Tournament"] == "Won NCAA Tournament National Final":
      df.loc[df.index[i], "NCAA Tournament"] = "National Champions"


df["Conf W"] = df["Conf W"].astype(int)
df["Conf L"] = df["Conf L"].astype(int)

df["Non-Conf W"] = df["Overall W"] - df["Conf W"]
df["Non-Conf L"] = df["Overall L"] - df["Conf L"]

df.head()

,Season,Overall W,Overall L,Overall W-L%,Conf W,Conf L,Conf W-L%,SRS,SOS,PS/G,PA/G,AP Pre,AP High,AP Final,NCAA Tournament,Seed,Non-Conf W,Non-Conf L
0,2025-26,13,1,0.929,1,0,1.00,21.07,3.57,81.2,63.7,25,12,NaN,Missed Tournament,NaN,12,1
1,2024-25,23,14,0.622,13,7,0.65,17.27,11.22,80.7,74.7,9,9,NaN,First Round,11.0,10,7
2,2023-24,29,8,0.784,17,3,0.85,21.36,9.90,81.9,70.5,19,3,7.0,Sweet Sixteen,1.0,12,5
3,2022-23,20,13,0.606,11,9,0.55,12.94,7.66,76.2,70.9,1,1,NaN,Missed Tournament,NaN,9,4
4,2021-22,29,10,0.744,15,5,0.75,15.50,8.89,77.9,71.3,19,18,NaN,National Runner-Up,8.0,14,5

In [5]:
# focus on 14 games played

# 2025/26
#12/31/2025
#https://stats.ncaa.org/selection_rankings/nitty_gritties/47893
opponent_net2526 = [231,17,266,351,213,101,14,27,133,243,128,43,308,123]



#2024/25
# 8-6
# 1-1
# as of 1/2/2025
# https://stats.ncaa.org/selection_rankings/nitty_gritties/42009
points_for2425 = [90,89,107,87,92,72,91,79,68,93,84,76,97,70]
points_against2425 = [76,92,55,69,90,85,94,94,65,67,90,74,81,83]
opponent_net2425 = [114,19,281,196,43,1,26,10,144,154,4,15,287,51]

#2023/24
# 11 3
# 3 0
# as of 1/7/2024
# https://stats.ncaa.org/selection_rankings/nitty_gritties/34848
points_for2324 = [86,90,77,91,81,87,100,78,76,83,81,105,70,65]
points_against2324 = [70,68,52,69,83,72,92,70,87,87,69,60,57,55]
opponent_net2324 = [182,256,266,116,34,105,5,119,7,17,22,350,53,23]

#2022/23
# 9 5
# 1 2
# as of 12/31/2022
# https://stats.ncaa.org/selection_rankings/nitty_gritties/28868
points_for2223 = [69,102,72,80,89,65,101,65,72,75,100,89,80,74]
points_against2223 = [56,86,66,64,81,70,103,77,80,59,67,84,76,76]
opponent_net2223 = [84,51,144,48,161,26,8,19,39,147,285,15,103,70]

#2021/22
# as of 01/06/2022
# https://stats.ncaa.org/selection_rankings/nitty_gritties/23363?utf8=%E2%9C%93&commit=Submit
# 10 4
# 1 1
points_for2122 = [83,94,94,84,72,72,72,79,80,74,69,70,91,73]
points_against2122 = [67,87,83,93,89,53,51,62,63,61,98,50,65,78]
opponent_net2122 = [248,181,137,10,12,173,54,166,288,108,17,193,182,94]

In [6]:
avg_net2526 = sum(opponent_net2526) / 14
avg_net2425 = sum(opponent_net2425) / 14
avg_net2324 = sum(opponent_net2324) / 14
avg_net2223 = sum(opponent_net2223) / 14
avg_net2122 = sum(opponent_net2122) / 14

avg_net = [avg_net2526, avg_net2425, avg_net2324, avg_net2223, avg_net2425]

In [7]:
avg_points_for2425 = sum(points_for2425) / 14
avg_points_for2324 = sum(points_for2324) / 14
avg_points_for2223 = sum(points_for2223) / 14
avg_points_for2122 = sum(points_for2122) / 14

avg_points_for = [81.2, avg_points_for2425, avg_points_for2324, avg_points_for2223, avg_points_for2122]

In [8]:
avg_points_against2425 = sum(points_against2425) / 14
avg_points_against2324 = sum(points_against2324) / 14
avg_points_against2223 = sum(points_against2223) / 14
avg_points_against2122 = sum(points_against2122) / 14

avg_points_against = [63.7, avg_points_against2425, avg_points_against2324, avg_points_against2223, avg_points_against2122]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Season           19 non-null     object
 1   Overall W        19 non-null     int64
 2   Overall L        19 non-null     int64
 3   Overall W-L%     19 non-null     float64
 4   Conf W           19 non-null     int32
 5   Conf L           19 non-null     int32
 6   Conf W-L%        19 non-null     float64
 7   SRS              19 non-null     float64
 8   SOS              19 non-null     float64
 9   PS/G             19 non-null     float64
 10  PA/G             19 non-null     float64
 11  AP Pre           19 non-null     int64
 12  AP High          19 non-null     int64
 13  AP Final         11 non-null     float64
 14  NCAA Tournament  19 non-null     object
 15  Seed             15 non-null     float64
 16  Non-Conf W       19 non-null     int64
 17  Non-Conf L       19 non-null     int64
dtypes: float64(8), int32(2), int64(6), object(2)
memory usage: 2.7+ KB

In [10]:
df = df.drop(columns=["Overall W", "Overall L", "Conf W", "Conf L", "Conf W-L%", "SRS","SOS","PS/G","PA/G", "AP Pre", "AP High", "AP Final", "Seed", "Non-Conf W", "Non-Conf L"])

In [11]:
df = df[:5]
df

    Season  Overall W-L%     NCAA Tournament
0  2025-26         0.929   Missed Tournament
1  2024-25         0.622         First Round
2  2023-24         0.784       Sweet Sixteen
3  2022-23         0.606   Missed Tournament
4  2021-22         0.744  National Runner-Up

In [12]:
win_2425 = np.array(points_for2425) > np.array(points_against2425)
win_2324 = np.array(points_for2324) > np.array(points_against2324)
win_2223 = np.array(points_for2223) > np.array(points_against2223)
win_2122 = np.array(points_for2122) > np.array(points_against2122)

win_pct2425 = sum(win_2425) / 14
win_pct2324 = sum(win_2324) / 14
win_pct2223 = sum(win_2223) / 14
win_pct2122 = sum(win_2122) / 14

winning_percent = [0.929, win_pct2425, win_pct2324, win_pct2223, win_pct2122]
winning_percent

[0.929,
 0.5714285714285714,
 0.7857142857142857,
 0.6428571428571429,
 0.7142857142857143]

In [13]:
winning_percent, avg_points_for, avg_points_against, avg_net

([0.929,
  0.5714285714285714,
  0.7857142857142857,
  0.6428571428571429,
  0.7142857142857143],
 [81.2,
  85.35714285714286,
  83.57142857142857,
  80.92857142857143,
  79.07142857142857],
 [63.7,
  79.64285714285714,
  70.78571428571429,
  74.64285714285714,
  71.42857142857143],
 [157.0,
  96.07142857142857,
  111.07142857142857,
  85.71428571428571,
  96.07142857142857])

In [14]:
df["Average Opponent NET"] = avg_net
df["Average PPG"] = avg_points_for
df["Average Opp PPG"] = avg_points_against
df["Winning Pct"] = winning_percent

In [15]:
df

,Season,Overall W-L%,NCAA Tournament,Average Opponent NET,Average PPG,Average Opp PPG,Winning Pct
0,2025-26,0.929,Missed Tournament,157.000000,81.200000,63.700000,0.929000
1,2024-25,0.622,First Round,96.071429,85.357143,79.642857,0.571429
2,2023-24,0.784,Sweet Sixteen,111.071429,83.571429,70.785714,0.785714
3,2022-23,0.606,Missed Tournament,85.714286,80.928571,74.642857,0.642857
4,2021-22,0.744,National Runner-Up,96.071429,79.071429,71.428571,0.714286

In [16]:
tourney_map = {
    "Missed Tournament": 0,
    "First Round": 1,
    "Sweet Sixteen": 2,
    "Elite Eight": 3,
    "Final Four": 4,
    "National Runner-Up": 5,
    "Champion": 6
}

df["tourney_encoded"] = df["NCAA Tournament"].map(tourney_map)

In [17]:
features = [
    "Overall W-L%",
    "Average Opponent NET",
    "Average PPG",
    "Average Opp PPG"
]

X = df[features]
y = df["tourney_encoded"]

In [18]:

X = X[1:]
y = y[1:]

In [19]:
X

   Overall W-L%  Average Opponent NET  Average PPG  Average Opp PPG
1         0.622             96.071429    85.357143        79.642857
2         0.784            111.071429    83.571429        70.785714
3         0.606             85.714286    80.928571        74.642857
4         0.744             96.071429    79.071429        71.428571

In [20]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [21]:
from sklearn.ensemble import RandomForestClassifier
X_2025 = X_scaled[-1].reshape(1, -1)
rf = RandomForestClassifier(
    n_estimators=200,
    max_depth=3,
    random_state=42
)

rf.fit(X_scaled, y)
rf.predict(X_2025)

array([5], dtype=int64)

In [22]:
df

,Season,Overall W-L%,NCAA Tournament,Average Opponent NET,Average PPG,Average Opp PPG,Winning Pct,tourney_encoded
0,2025-26,0.929,Missed Tournament,157.000000,81.200000,63.700000,0.929000,0
1,2024-25,0.622,First Round,96.071429,85.357143,79.642857,0.571429,1
2,2023-24,0.784,Sweet Sixteen,111.071429,83.571429,70.785714,0.785714,2
3,2022-23,0.606,Missed Tournament,85.714286,80.928571,74.642857,0.642857,0
4,2021-22,0.744,National Runner-Up,96.071429,79.071429,71.428571,0.714286,5

In [23]:
df.to_csv("new.csv")